<!DOCTYPE html> 
<html> 
   <head>
      <title>Data Links main page</title>
   </head>
   <body style="background-color:rgb(157, 150, 150);"> 
      <h2>How to use this site:</h2>
   	<pre>
      Select the data set you wish to access from the links listed below. 
      Afterards, select/input the data you wish to look up from the data set and hit submit. 
      The results from the above search will then be saved as a json file on your local drive.
      </pre>
      <h2>Encoding Links</h2> 
      <pre>
         <a href="encoding/anonymized_digital_voice">anonymized digital voice</a> 
         <a href="encoding/apoe">apoe</a>
         <a href="encoding/dcdt">dcdt</a>
         <a href="encoding/dementia_review">dementia review</a>
         <a href="encoding/dnp">dnp</a>
         <a href="encoding/dvoice">digital voice</a>
         <a href="encoding/education">education</a>
         <a href="encoding/mri">mri</a>
         <a href="encoding/np">neuropath</a>
         <a href="encoding/pib">pib</a>
         <a href="encoding/race_sex">race and sex</a>
         <a href="encoding/tau">tau</a>
      </pre>

      <h2>Filtering Links</h2>
      <pre>
         <a href="filtering/mri">mri</a>
      </pre>
   </body> 
</html> 